.wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    font: 500 21px/25px 'Roboto', Arial, sans-serif;
  }

  button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #ffffff9f;
    transition: background-color 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  
    &:hover {
      background-color: #f0f0f0;
      cursor: pointer;
      box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4)
    }

    p {
      font: 500 21px/25px 'Roboto', Arial, sans-serif;
    }
  }
}

.questionCard {
  margin-top: 5px;
  border-bottom: solid 1px #000;
}