.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.categoryCard {
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff9f;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4)
  }

  p {
    font: 500 21px/25px 'Roboto', Arial, sans-serif;
  }
}